*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#f5f6f7;
color:#333;
}

/* Navbar */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 80px;
background:white;
box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.logo{
font-weight:bold;
color:#16a34a;
}

.menu a{
margin-left:20px;
text-decoration:none;
color:#333;
}

.btn{
background:#16a34a;
color:white;
padding:8px 14px;
border-radius:6px;
}

/* Result Section */

.result-container{
text-align:center;
padding:60px;
}

.subtitle{
color:#777;
margin-bottom:40px;
}

.result-box{
display:flex;
justify-content:center;
gap:40px;
}

/* Image Card */

.image-card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.image-card img{
width:250px;
border-radius:8px;
margin-top:10px;
}

/* Analysis Card */

.analysis-card{
background:white;
padding:30px;
border-radius:12px;
width:320px;
box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.status{
background:#d1fae5;
color:#065f46;
padding:6px 12px;
border-radius:20px;
display:inline-block;
margin-bottom:15px;
}

.check{
font-size:40px;
color:#16a34a;
margin-bottom:15px;
}

.label{
color:#777;
font-size:14px;
}

.healthy{
color:#16a34a;
}

/* Tips */

.tips{
margin-top:20px;
background:#ecfdf5;
padding:15px;
border-radius:8px;
text-align:left;
}

.tips ul{
margin-top:10px;
padding-left:18px;
}

/* Buttons */

.result-buttons{
margin-top:40px;
}

.primary-btn{
background:#16a34a;
color:white;
padding:10px 18px;
border-radius:6px;
text-decoration:none;
margin-right:10px;
}

.secondary-btn{
border:1px solid #ccc;
padding:10px 18px;
border-radius:6px;
text-decoration:none;
color:#333;
}

/* Footer */

footer{
margin-top:80px;
text-align:center;
color:#777;
font-size:14px;
}